/* Add a css reset */
@import url("./normalize.css");

/* Specify colors */
:root {
  --bg-clr: #2e3440;
  --bg-lighter: #3b4252;
  --text-clr: #eceff4;
  --accent1-clr: #5e81ac;
  --accent2-clr: #a3be8c;
  --accent3-clr: #bf616a;
  --font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  min-height: 100vh;
}
body {
  font-size: 1rem;
  font-family: var(--font-stack);
  background-color: var(--bg-clr);
  color: var(--text-clr);
}
h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-weight: 500;
  text-shadow: 3px 3px var(--accent1-clr);
}

#game_board {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  background-color: var(--text-clr);
  width: 25rem;
  height: 25rem;
  margin: 1rem auto;
  gap: 4px;
  border-radius: 10%;
}
#game_board > div {
  background-color: var(--bg-lighter);
  display: flex;
  justify-content: center;
  align-items: center;
}
#game_board :first-child {
  border-top-left-radius: 25%;
}
#game_board :nth-child(3) {
  border-top-right-radius: 25%;
}
#game_board :nth-child(7) {
  border-bottom-left-radius: 25%;
}
#game_board :nth-child(9) {
  border-bottom-right-radius: 25%;
}
#game_board svg {
  width: 6.5rem;
  height: 6.5rem;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  display: none;
}
input[type="radio"]:checked + label {
  color: var(--bg-clr);
  background-color: var(--accent1-clr);
  border-radius: 1rem;
  transition:
    background-color ease-in-out 150ms,
    color ease-in-out 150ms,
    border-radius ease-in-out 150ms;
}
#select_sign,
#compete,
#difficulty {
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 30rem;
  margin: 0 auto;
}
#select_sign {
  padding-top: 1rem;
}
#select_sign > *,
#compete > *,
#difficulty > * {
  padding: 0.3rem;
  width: 10rem;
}
#compete > *,
#difficulty > * {
  padding: 0.6rem;
}
#difficulty {
  padding: 0.5rem;
  padding-bottom: 1rem;
}
label {
  display: flex;
  justify-content: center;
}
#select_sign svg {
  width: 3rem;
  height: 3rem;
}
